<style>
:root {
  --main-bg-color: #5f86ad;
  --test-color: #541a5f;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--main-bg-color);
  margin: 5rem 0 0 5rem;
  font-size: 25px;
}

input, button {
  height: 2rem;
  vertical-align: middle;
  margin-right: 20px;
}

input[type=checkbox] {
  transform: scale(2);
  margin-right: 20px;
}

label {
  vertical-align: middle;
}

.competitors {
  display: flex;
}

.competitors > div {
  margin-right: 25px;
}
</style>