:root {
  --main-bg-color: #5f86ad;
  --test-color: #541a5f;
}

body {  
  background-color: var(--main-bg-color);
  padding: 1rem;
  font-size: 25px;
  margin: 0;
}

input, button {
  vertical-align: middle;
  margin-right: 20px;
  font-size: 25px;
}

input[type=checkbox] {
  transform: scale(2);
  margin-right: 20px;
}

label {
  vertical-align: middle;
}

.box {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px;
  margin: 10px 0px;
}

.competitors {
  display: flex;
}

.competitors > div {
  margin-right: 25px;
  box-shadow: inset
}

.competitors > .box > div {
  margin-bottom: 20px;
}

.right {
  float: right;
}

.timer {
  margin-right: 25px;
}

th, td {
  border: 1px solid black
}