<!DOCTYPE html>
<html>
  <head>
    <title>Fun?</title>
    <link rel="stylesheet" href="rt.css">
  </head>
  <body>
    <script src="https://unpkg.com/vue@3"></script>

    <div id="app">
      <div class="topContainer">
        <div class="competitors">
          <div v-for="competitor in competitors">
            <input type="checkbox" :id="competitor.name" :value="competitor.name" v-model="checkedCompetitors">
            <label :for="competitor.name">{{ competitor.name }}</label>
          </div>
          <button @click="addToCurrent">Add to current run</button>
        </div>
        
        <input type="text" v-model="currentName">
        <button @click="addCompetitor">Lägg till deltagare</button>
      </div>

      <div class="main">
        <div>

        </div>
      </div>
    </div>
    
    <script>
      const { createApp } = Vue
    
      createApp({
        data() {
          return {
            currentName: null,
            checkedCompetitors: [],
            storageSaveCounter: 0 // partly to get computed properties to updates
          }
        },
        computed: {
          competitors() {
            return this.getStorage()?.competitors ?? []
          }
        },
        methods: {
          getStorage() {
            return this.storageSaveCounter >= 0 && JSON.parse(localStorage.getItem('RT') ?? '{ "competitors": [] }')
          },
          saveStorage(rt) {
            localStorage.setItem('RT', JSON.stringify(rt))
            this.storageSaveCounter++
          },
          addCompetitor () {
            const rt = this.getStorage()
            rt.competitors.push({ name: this.currentName })
            this.currentName = null
            this.saveStorage(rt)
          },
        }
      }).mount('#app')
    </script>
  </body>
</html>